
body {
  background-color: #fca726;
}
#content {

  width: auto;
/*  padding-left: 20px;
  padding-bottom: 200px; /*Makes the white background fit the img, may need change as project progresses*/
  margin: auto;
  text-indent: 25px;
  background-color: #ffdfae;
  border: black solid 2px;
}

img {
  float: right;
  border: 10px black solid ;
}

h1 {
  font-family: "Bernard MT", cursive;
  padding-top: 20px;
  text-align: center;
}

p {
/*  border: 2px solid black; */
  font-size: 110%;
  padding-left: 10px;
}
li {
  padding: 5px
}

a {
  font-family: cursive;
}
