h1 {
  color: #6cd4ce;
  font-size: 200%;
}

p {
  text-indent: 20px;
  font-family: sans-serif;
}

#content {
  background-color: #9e2323;
  width: 1000px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: dotted 1px black;
  font-size: 20px;
}

#arien-content {
  background-color: green;
  margin:  10px;
  border: solid 3px #336699;
  border-radius: 30px;
}

#red-dance {
  border-radius: 30px;
}

#diagonal-one {
  background-color: = blue;
  max-width: 50em;
  margin = 0 auto;
}

div.diagonal{
  background-image: linear-gradient(45deg,blue, red);
}
